*
!/.gitignore
!/fish/
!/fish/config.fish
!/fish/conf.d/
!/fish/conf.d/**
!/nvim/
!/nvim/**
/nvim/.claude/
!/sway/
!/sway/**
!/waybar/
!/waybar/**
!/toshy/
!/toshy/toshy_config.py
!/wireplumber/
!/wireplumber/**
